@page "/forget-password"
@using Microsoft.AspNetCore.Components.Authorization
<PageTitle>Log in</PageTitle>
@inject IAccountService AccountService
@inject NavigationManager Navigation

<h1>Forget password</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="NewPasswordRequest" FormName="forgetpassword">
                <DataAnnotationsValidator />
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="example@gmail.com" />
                    <label for="username" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Request</button>
                </div>
            </EditForm>
        </section>
    </div>
</div>

@code {
    public string Message { get; set; }
    private string? errorMessage;

    [SupplyParameterFromForm]
    private PassowrdRenewalRequestModelDto Input { get; set; } = new();


    public async Task NewPasswordRequest()
    {
        var result = await AccountService.RequestPasswordReset(Input.Email);

        if (result.IsSuccess)
        {
            errorMessage = result.Message;
        }
        else
        {
            errorMessage = result.Message;
        }
    }

}